<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/style.css">
    <title>Home</title>
</head>

<body>
    <div class="flex-center">
        <div class="container">
            <div>
                Home |
                <a href="/projects">Projects</a> |
                <a href="/contact">Contact</a>
            </div>
            <h1>About Me</h1>
            <div class="flex-between">
                <img src="~/image/rein.jpg" alt="" style="width: 500px;">
                <ul>
                    <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laudantium sunt recusandae, iure
                        inventore autem, officiis unde maiores iusto harum nemo totam dignissimos ad adipisci magni cum
                        eum consequuntur consectetur accusantium?</li>
                    <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laudantium sunt recusandae, iure
                        inventore autem, officiis unde maiores iusto harum nemo totam dignissimos ad adipisci magni cum
                        eum consequuntur consectetur accusantium?</li>
                    <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laudantium sunt recusandae, iure
                        inventore autem, officiis unde maiores iusto harum nemo totam dignissimos ad adipisci magni cum
                        eum consequuntur consectetur accusantium?</li>
                </ul>
            </div>
        </div>
    </div>
</body>

</html>