<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/style.css">
    <title>Projects</title>
</head>
<body>
    <div class="flex-center">
        <div class="container">
            <div>
                <a href="/">Home</a> |
                Projects |
                <a href="/contact">Contact</a>
            </div>
            <h1>Projects</h1>
            <div class="flex-between">
                <img src="~/image/gib.jpg" alt="" style="width:400px">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe nobis illum sequi odio possimus dolorem nostrum fuga, explicabo a minus ad nulla soluta maiores aliquid adipisci nisi quidem, quia aperiam?</p>
            </div>
            <div class="flex-between">
                <img src="~/image/eich.jpg" alt="" style="width:400px">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe nobis illum sequi odio possimus dolorem nostrum fuga, explicabo a minus ad nulla soluta maiores aliquid adipisci nisi quidem, quia aperiam?</p>
            </div>
            <div class="flex-between">
                <img src="~/image/king.jpg" alt="" style="width:400px">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe nobis illum sequi odio possimus dolorem nostrum fuga, explicabo a minus ad nulla soluta maiores aliquid adipisci nisi quidem, quia aperiam?</p>
            </div>
        </div>
    </div>
</body>
</html>