@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <form action="/survey" method="post">
        <div class="flex just-between align-center" style="font-size: 2em;">
            <label for="Name">Your Name:</label>
            <input type="text" name="Name" style="font-size: .75em;">
        </div>
        <div class="flex just-between align-center" style="font-size: 2em;">
            <label for="Location">Location:</label>
            <select name="Location" style="font-size: 1em;">
                <option value="Seattle">Seattle</option>
                <option value="San Jose">San Jose</option>
                <option value="Burbank">Burbank</option>
                <option value="Other">Other</option>
            </select>
        </div>
        <div class="flex just-between align-center" style="font-size: 2em;">
            <label for="Name">Your Name:</label>
            <select name="FavLanguage" style="font-size: 1em;">
                <option value="C#">C#</option>
                <option value="Python">Python</option>
                <option value="Javascript">Javascript</option>
                <option value="Other">Other</option>
            </select>
        </div>
        <label for="Comment" style="font-size: 2em;">Comment (Optional): </label><br>
        <textarea name="Comment" style="width: 100%; font-size:2em" rows="10"></textarea>
        <div class="flex just-end">
            <button style="font-size: 2em; margin-top: 1em">Submit</button>
        </div>
    </form>
</div>
